html {
  background-color: mediumvioletred;
}
.colors {
  background-color: green;
  color: yellow;
}

.text {
  font-size: 3rem;
}

.colorin {
  font-size: 5rem;
  background-color: lawngreen;
}

.azul {
  background-color: red;
  font-size: 5rem;
}

.border {
  background-color: blue;
}

.text {
  color: pink;
  font-size: 3rem;
}
